[Unit]
Description=1ClickSync Flask Application
After=network.target postgresql.service redis.service

[Service]
User=zmarin
WorkingDirectory=/home/zmarin/Projects/ZTsync_python
Environment="PATH=/home/zmarin/Projects/ZTsync_python/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="PYTHONPATH=/home/zmarin/Projects/ZTsync_python"
Environment="FLASK_APP=/home/zmarin/Projects/ZTsync_python/app/__init__.py"
Environment="FLASK_ENV=development"
Environment="FLASK_DEBUG=1"
EnvironmentFile=/home/zmarin/Projects/ZTsync_python/.env

ExecStart=/bin/bash -c '\
    source /home/zmarin/Projects/ZTsync_python/venv/bin/activate && \
    /home/zmarin/Projects/ZTsync_python/venv/bin/celery -A app.celery worker --loglevel=info --concurrency=2 & \
    /home/zmarin/Projects/ZTsync_python/venv/bin/celery -A app.celery beat --loglevel=info & \
    /home/zmarin/Projects/ZTsync_python/loclx tunnel http --to localhost:8000 --reserved-domain www.1clicksync.com --https-redirect & \
    /home/zmarin/Projects/ZTsync_python/venv/bin/gunicorn \
    --workers 2 \
    --threads 2 \
    --bind 0.0.0.0:8000 \
    --log-level debug \
    --access-logfile - \
    --error-logfile - \
    wsgi:app'

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
