.zf_lB_Dimmer_832304{ 
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(0, 0, 0);
    opacity: 0.8;
    z-index: 10000000;
}

.zf_lB_Container_832304{
	position: fixed;
	background-color: white;
	margin: 0;
	margin-right: 0px;
	padding: 0;
	height: 858px;
	width:  70%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 7px solid none;
	max-height: calc(100% - 60px);
	z-index: 999999;
}

p{
margin-bottom: 10px;
}

.zf_lB_Wrapper_832304{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 0;
    margin-top: -180px;
    z-index: 10000001;
}

.zf_main_id_832304{
	height: calc(100% - 0px);
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
}

.zf_lb_closeform_832304 {
    position: absolute;
    right: -20px;
    background: #2f2e2e;
    padding: 0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    top: -15px;
    cursor: pointer;
    border: 2px solid #d9d9d9;
}
.zf_lb_closeform_832304:before, .zf_lb_closeform_832304:after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 19px;
    width: 2px;
    top: 7px;
    background-color: #f7f7f7;
}

.zf_lb_closeform_832304:before {
  transform: rotate(45deg);
}
.zf_lb_closeform_832304:after {
  transform: rotate(-45deg);
} 



@media screen and (min-device-width: 10px) and (max-device-width: 380px) {  
   .zf_lB_Container_832304 {
  width: 270px !important;
} 
}

@media screen and (min-device-width: 360px) and (max-device-width: 480px) {  
   .zf_lB_Container_832304 {
  width: 350px !important;
} 
}

@media screen and (min-device-width: 440px) and (max-device-width: 500px) {  
   .zf_lB_Container_832304 {
  width: 380px !important;
} 
}

@media only screen  and (min-width:500px) and (max-width:600px)  {  
 	.zf_lB_Container_832304 {
	width: 450px;
 }
}

@media only screen  and (min-width:601px) and (max-width:700px)  {  
 	.zf_lB_Container_832304 {
	width: 540px;
 }
}

@media only screen  and (min-width:700px) and (max-width:800px)  { 
.zf_lB_Container_832304 {
	width: 650px;
 }
}

@media screen and (min-device-width: 801px) and (max-device-width: 1268px) {  
   .zf_lB_Container_832304 {
  width: 750px !important;
} 
}
